@font-face {
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-family: 'Raleway';
    font-weight: 700;
}
@font-face {
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
    font-family: 'Raleway';
    font-weight: 600;
}
@font-face {
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
    font-family: 'Raleway';
    font-weight: 500;
}
@font-face {
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-family: 'Raleway';
    font-weight: 400;
}